body {
    background-color: #1A4341;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stick {
    width: 10px;
    height: 180%;
    position: absolute;
    background: #F3AC3C;
    border-radius: 5px;
}

.stick1 {
    top: -50%;
    left: calc(50% - 5px);
}

.stick2 {
    left: 54%;
    top: -35%;
    transform: rotate(-60deg);
}

.stick3 {
    left: 54%;
    top: -45%;
    transform: rotate(60deg);
}

.virus-circle {
    height: 100px;
    width: 100px;
    background: #F3AC3C;
    border-radius: 50%;
}

.spot {
    position: absolute;
    border-radius: 50%;
    background: #998235;
}

.spot1 {
    height: 20px;
    width: 20px;
    top: 65%;
    left: 40%;
}

.spot2 {
    height: 10px;
    width: 10px;
    top: 20%;
    right: 20%;
}

.spot3 {
    height: 30px;
    width: 30px;
    top: 20%;
    left: 20%;
}