body {
    background: #293462;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ice-cream {
    position: relative;
    height: 150px;
    width: 100px;
    background: #FFF1C1;
    border-radius: 50px 50px 20px 20px;
}

.stick:after {
    content: '';
    position: absolute;
    background: #A64942;
    height: 10px;
    width: 30px;
}

.stick {
    background: #FE5F55;
    height: 50px;
    width: 30px;
    margin: 0 auto;
    border-radius: 10px;
}