* {
    box-sizing: border-box;
}

body {
    background-color: #6CB3A9;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: #781728;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:before,
.circle:after {
    content: "";
    position: absolute;
    height: 19px;
    width: 11px;
    background-color: #6CB3A9;
    z-index: 2;
    top: calc(50% - 10px);
}

.circle:before {
    left: -6px;
}

.circle:after {
    right: -6px;
}

.circle .circle-sides {
    background-color: #FFFFFF;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    position: absolute;
    overflow: hidden;
    top: -5px;
    left: -5px;
    border-radius: 50%;
}

.circle .circle-sides:before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #D25B70;
}

.circle .circle-sides:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border: transparent solid 10px;
    background: #781728;
    top: calc(50% - 10px);
}

.circle .center-circle {
    height: 37%;
    width: 37%;
    background-color: #F6DF96;
    border-radius: 50%;
    border: 10px solid #781728;
    position: relative;
}